@font-face{	font-family: FrontMan;src:url('Frontman.ttf');}
@font-face{	font-family: ArtBrewery;src:url(ArtBrewery.ttf);}
@font-face{	font-family: eglantine;src:url(eglantine.ttf);}
@font-face{	font-family: towerruinsdrop;src:url(towerruinsdrop.ttf);}
@font-face{	font-family: Caligula;src:url(Caligula.ttf);}
@font-face{	font-family: greek;src:url(greek.ttf);}
@font-face{	font-family: christmas;src:url(christmas1.ttf);}
@font-face{	font-family: Petita;src:url(Petita.ttf);}
@font-face{	font-family: Aclonica;src:url(Aclonica.ttf);}
@font-face{	font-family: FasterOne-Regular;src:url(FasterOne-Regular.ttf);}
@font-face{	font-family: Sail-Regular;src:url(Sail-Regular.ttf);}
@font-face{	font-family: Bangers;src:url(Bangers.ttf);}
@font-face{	font-family: TradeWinds-Regular;src:url(TradeWinds-Regular.ttf);}
@font-face{	font-family: FINALNEW;src:url(FINALNEW.ttf);}

@font-face{	font-family: batmfow;src:url(batmfa__.ttf);}